<?xml version="1.0"?>
<!--
Copyright (c) 2025
b-it-bots
Hochschule Bonn-Rhein-Sieg

Authors:
Chaitanya Gumudala
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="joint_interface" params="joint_name">
        <joint name="${joint_name}">
            <command_interface name="velocity"/>
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </xacro:macro>
    <xacro:macro name="arm_joint_interface" params="joint_name initial_position">
        <joint name="${joint_name}">
            <command_interface name="velocity"/>
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_position}</param>
            </state_interface>
            <state_interface name="velocity"/>
        </joint>
    </xacro:macro>
    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find skratch_gazebo)/config/controllers/ros_controllers.yaml</parameters>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>
    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <xacro:joint_interface joint_name="front_left_drive_pivot_joint"/>
        <xacro:joint_interface joint_name="front_left_drive_left_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="front_left_drive_right_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="front_right_drive_pivot_joint"/>
        <xacro:joint_interface joint_name="front_right_drive_left_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="front_right_drive_right_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="rear_left_drive_pivot_joint"/>
        <xacro:joint_interface joint_name="rear_left_drive_left_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="rear_left_drive_right_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="rear_right_drive_pivot_joint"/>
        <xacro:joint_interface joint_name="rear_right_drive_left_hub_wheel_joint"/>
        <xacro:joint_interface joint_name="rear_right_drive_right_hub_wheel_joint"/>
        <xacro:arm_joint_interface joint_name="shoulder_joint" initial_position="0"/>
        <xacro:arm_joint_interface joint_name="half_arm_one_joint" initial_position="-1.5"/>
        <xacro:arm_joint_interface joint_name="half_arm_two_joint" initial_position="0"/>
        <xacro:arm_joint_interface joint_name="fore_arm_joint" initial_position="1.5"/>
        <xacro:arm_joint_interface joint_name="spherical_wrist_one_joint" initial_position="0"/>
        <xacro:arm_joint_interface joint_name="spherical_wrist_two_joint" initial_position="1.5"/>
        <xacro:arm_joint_interface joint_name="camera_joint" initial_position="0"/>
    </ros2_control>
</robot>