<?xml version="1.0"?>
<!--
Copyright (c) 2025
b-it-bots
Hochschule Bonn-Rhein-Sieg

Authors:
Chaitanya Gumudala
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kelo_drive_top_part" params="name parent drive_name:=default_drive_name *origin movable_joints:=true">
        <xacro:include filename="$(find skratch_description)/description/wheels/kelo_drive.xacro" />
        <link name="${name}_drive_top_part">
            <visual>
                <origin xyz="0 0 0.0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/wheels/kelo_drive_top_part.dae" scale="1 1 1"/>
                </geometry>
                <material name="grey">
                    <color rgba="0.8 0.8 0.8 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0.0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/wheels/kelo_drive_top_part.dae" scale="1 1 1"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0.00054 -0.00146 0.0085" rpy="0 0 0"/>
                <mass value="0.43207"/>
                <inertia ixx="0.00036965278" ixy="0.0" ixz="-0.0" iyy="0.00039670119" iyz="0.0" izz="0.00073957435"/>
            </inertial>
        </link>
        <joint name="${name}_drive_top_part_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${name}_drive_top_part"/>
        </joint>
        <xacro:kelo_drive name="${drive_name}" parent="${name}_drive_top_part" movable_joints="${movable_joints}">
            <origin xyz="0 0 -0.09" rpy="0 0 0.0"/>
        </xacro:kelo_drive>
    </xacro:macro>
</robot>